.Star {
  display: inline-block;
  animation: .3s fadeIn;
}
.Star img {
  border-radius: 50%;
}


@keyframes fadeIn {
  0% {
    opacity: .2;
    transform: scale(.5)
  }
  100% {
    opacity: 1;
    transform: scale(1)
  }
}
